.w-screen.h-screen.flex-col.flex.items-center.justify-center.bg-gray-100.dark:bg-gray-900
  .relative.overflow-x-auto.shadow-md.sm:rounded-lg
    .flex.flex-column.sm:flex-row.flex-wrap.space-y-4.sm:space-y-0.items-center.justify-between.pb-4
      %div
        = link_to new_room_path, class: "text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2" do
          %i.fa-solid.fa-plus
          = t("rooms.index.create_room")
      = render "rooms/shared/search", path: rooms_path
    %table.w-full.text-sm.text-left.rtl:text-right.text-gray-500.dark:text-gray-400
      %thead.text-xs.text-gray-700.uppercase.bg-gray-50.dark:bg-gray-700.dark:text-gray-400
        %tr
          %th.p-4{:scope => "col"}
            .flex.items-center
              %input#checkbox-all-search.w-4.h-4.text-blue-600.bg-gray-100.border-gray-300.rounded.focus:ring-blue-500.dark:focus:ring-blue-600.dark:ring-offset-gray-800.dark:focus:ring-offset-gray-800.focus:ring-2.dark:bg-gray-700.dark:border-gray-600{:type => "checkbox"}/
          %th.px-6.py-3{:scope => "col"}
            %i.fa-solid.fa-door-open
            = t("rooms.index.name")
          %th.px-6.py-3{:scope => "col"}
            %i.fa-solid.fa-user
            = t("rooms.index.author")
          %th.px-6.py-3{:scope => "col"}
            %i.fa-solid.fa-users
            = t("rooms.index.users")
          %th.px-6.py-3{:scope => "col"}
            %i.fa-solid.fa-clock
            = t("rooms.index.created_at")
          %th.px-6.py-3{:scope => "col"}
            %i.fa-solid.fa-eye
            = t("rooms.index.visibility")
          %th.px-6.py-3{:scope => "col"}
            %i.fa-solid.fa-bars
            = t("rooms.index.actions")
      %tbody
        - if @rooms.any?
          - @rooms&.each do |room|
            %tr.bg-white.border-b.dark:bg-gray-800.dark:border-gray-700.hover:bg-gray-50.dark:hover:bg-gray-600
              %td.w-4.p-4{:style => "padding: 19px;"}
                .flex.items-center{:style => "width: 39px;"}
                  = image_tag(room.logo, class: "w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500") if room&.logo.present?
              %th.px-6.py-4.font-medium.text-gray-900.whitespace-nowrap.dark:text-white{:scope => "row"}
                = room.name
              %td.px-6.py-4
                = room.user&.name
              %td.px-6.py-4
                = room.users&.count
                \/
                %strong= room.max_users
              %td.px-6.py-4
                = time_ago_in_words(room.created_at)
              %td.px-6.py-4
                - if room.visibility == false
                  %i.fa-solid.fa-lock-open
                - else
                  %i.fa-solid.fa-lock
              %td.px-6.py-4
                = link_to confirm_room_path(room), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" do                                                                                       |
                  %i.fa-solid.fa-arrow-right
                - if room.user&.id == current_user&.id
                  = link_to room_path(room), data: { turbo_method: :delete }, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-blue-800" do                                                                                                                  |
                    %i.fa-solid.fa-trash
                  = link_to edit_room_path(room), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-blue-800" do                                                                                  |
                    %i.fa-solid.fa-pen-to-square
