<div class="w-screen h-screen flex-col flex items-center justify-center bg-gray-100 dark:bg-gray-900">
  <section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8 text-center">
          <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            Criar uma sala de conversa
          </h1>
          <%= form_with(model: @room, class: "space-y-4", data: { controller: "gif-generator" }) do |f| %>
            <div>
              <div class="flex items-center space-x-4" style="place-self: center;">
                <img
                  data-gif-generator-target="image"
                  id="gif-image"
                  class="rounded-full w-40 h-40 object-cover"
                  src="<%= @room.logo.present? ? @room.logo : 'https://placehold.co/160x160?text=Gif+Generator' %>"
                  alt="image description">
                <button
                  type="button"
                  data-action="gif-generator#generate"
                  id="generate-gif"
                  style="position: absolute;
                    margin-left: 116px;
                    margin-top: 110px;"
                  class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2">
                  <i class="fa-solid fa-arrows-rotate"></i>
                </button>
              </div>
              <%= form_model_errors(@room, :logo) %>

              <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">

              <%= f.hidden_field :logo, id: "gif-url", data: { gif_generator_target: "hiddenField" } %>

              <%= f.label :name, "Nome da sala", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
              <%= f.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white", placeholder: "Digite o nome da sala" %>
              <%= form_model_errors(@room, :name) %>
            </div>


            <%= f.submit class: "w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
            <a href="<%= rooms_path %>" class="inline-flex items-center text-center text-blue-600 dark:text-blue-500 hover:underline">
              Voltar
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>

