%div{"data-controller" => "file-preview"}
  %span.bg-gray-100.text-gray-800.text-xs.font-medium.inline-flex.items-center.rounded.me-2.dark:bg-gray-700.dark:text-gray-400.border.border-gray-500{:class => "px-2.5 py-0.5", "data-file-preview-target" => "previewContainer", :style => "display: none;"}
  .relative.flex
    %span.absolute.inset-y-0.flex.items-center
      = form.button :button, type: "button", class: "inline-flex items-center justify-center rounded-full h-12 w-12 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none" do
        %i.fa-solid.fa-microphone
    = form.text_field :content, style: "padding-right: 96px;margin-right: 51px;", placeholder: t('rooms.messages.form.placeholder.write_message'), class: "w-full focus:outline-none focus:placeholder-gray-400 text-gray-600 placeholder-gray-600 pl-12 bg-gray-200 rounded-full py-3 border-none"
    .absolute.right-0.items-center.inset-y-0.hidden.sm:flex
      = form.file_field :assets, class: "hidden", id: "file-upload", multiple: true, data: { target: "file-preview.fileInput", action: "change->file-preview#previewFiles" }
      %label.inline-flex.items-center.justify-center.rounded-full.h-10.w-10.transition.duration-500.ease-in-out.text-gray-500.hover:bg-gray-300.focus:outline-none.cursor-pointer{:for => "file-upload"}
        %i.fa-solid.fa-paperclip
      = form.button :button, type: "button", class: "inline-flex items-center justify-center rounded-full h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none" do
        %i.fa-solid.fa-face-smile
      = form.button nil, type: "submit", style: "padding: 16px;", class: "inline-flex items-center justify-center rounded-full px-4 py-3 transition duration-500 ease-in-out text-white bg-blue-500 hover:bg-blue-400 focus:outline-none" do
        %i.fa-solid.fa-paper-plane
