<div class="flex flex-col flex-auto h-full p-6 w-[1256px]">
  <div class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-100 h-full p-4"
       style="background: url('<%= @room&.image_background if @room&.image_background.present? %>')">
    <div class="flex flex-col h-full overflow-x-auto mb-4">
      <div class="flex flex-col h-full">
        <div class="grid gap-y-2" data-controller="messages">
          <%= turbo_stream_from @room %>
          <div id="notifications"></div>
          <%= turbo_stream_from "messages" %>
          <div id="messages">
            <% @messages&.each do |message| %>
              <%= render partial: "rooms/messages/message", locals: { message: message, room: @room } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= form_with(model: [@room, @message], local: false, remote: true,
                  data: { controller: "messages file-preview", action: "submit->file-preview#hidePreviewAfterSubmit"}) do |form| %>
      <%= render "rooms/messages/form", form: form %>
    <% end %>
  </div>
</div>