<div class="flex flex-col flex-auto h-full p-6">
  <div class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-100 h-full p-4">
    <div class="flex flex-row items-center justify-center h-12 w-full">
      <div
        class="flex items-center justify-center rounded-2xl text-indigo-700 bg-indigo-100 h-10 w-10"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"
          ></path>
        </svg>
      </div>
      <div class="ml-2 font-bold text-2xl">Omeglesh</div>
    </div>
    <div class="flex flex-col items-center bg-indigo-100 border border-gray-200 mt-4 w-full py-6 px-4 rounded-lg">
      <div class="h-20 w-20 rounded-full border overflow-hidden">
        <%= image_tag(@room.logo, class: "h-full w-full") if @room&.logo.present? %>
      </div>
      <div class="text-sm font-semibold mt-2"><%= @room&.name %></div>
      <div class="text-xs text-gray-500"><%= @room&.hash_code %></div>
    </div>
    <div class="flex flex-col mt-8">
      <div class="flex flex-row items-center justify-between text-xs">
        <span class="font-bold">Active Conversations</span>
        <%= turbo_stream_from "user_count" %>
        <span class="flex items-center justify-center bg-gray-300 h-4 w-4 rounded-full">
          <div id="user_count">
            <%= render "rooms/chat/user_count", room: @room %>
          </div>
        </span>

      </div>
      <div class="flex flex-col space-y-1 mt-4 -mx-2 h-48 overflow-y-auto">
        <%= turbo_stream_from "users" %>
        <div id="users">
          <% @room&.users&.each do |user| %>
            <%= render "rooms/chat/user", user: user %>
          <% end %>
        </div>
      </div>
      <div class="flex flex-row items-center justify-between text-xs mt-6">
        <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
      </div>
      <div class="flex flex-col space-y-1 mt-4 -mx-2">
        <% if @room&.user&.id == current_user&.id %>
          <%= link_to edit_room_path(@room), class: "py-2.5 text-center px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" do %>
            <i class="fa-solid fa-gear"></i> Configurações
          <% end %>
        <% end %>
        <%= link_to leave_room_path(@room), data: { turbo_method: :delete }, class: "py-2.5 text-center px-5 me-2 mb-2 text-sm
        font-medium text-red-900 focus:outline-none bg-white rounded-lg border border-red-200 hover:bg-gray-100
        hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-red-100 dark:focus:ring-red-700 dark:bg-red-800
         dark:text-red-400 dark:border-red-600 dark:hover:text-white dark:hover:bg-red-700" do %>
          <i class="fa-solid fa-right-from-bracket"></i> Sair
        <% end %>
      </div>
    </div>
  </div>
</div>